:root {
  --text-color: black;
  --gradient-bg-color: #eb90ab;
  --el-color-danger: #eb90ab;
  --el-color-danger-light-3: #f89898;
  --el-color-danger-dark-2: #ee5656;
  --el-button-text-color: white;
  --el-button-hover-text-color: white;

}