:root {
  --gradient-bg-color: #38393c;
  --text-color: white;
  --el-color-danger: #38393c;
  --el-color-danger-light-3: #4a4b4f;
  --el-color-danger-dark-2: #292b30;
  --el-button-text-color: white;
  --el-button-hover-text-color: white;

}