:root {
  --gradient-bg-color: #38393c;
  --text-color: white;
  --el-button-color: var(--el-color-info);
  --el-button-bd-color: var(--el-color-info-light-3);
  --el-button-hover-color: var(--el-color-info-light-5);
  --el-button-hover-bd-color: var(--el-color-info-light-7);
  --el-button-txt-color: var(--el-color-white);
  --el-button-h-txt-color: var(--el-color-white);
}