/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --gradient-bg-color-default: linear-gradient(to bottom, #f47599, #f7c6cd);
  --gradient-bg-color-grey: #aab0b6;
  --gradient-bg-color-mint: #7db6bf;
  --gradient-bg-color-island: #2fa5a7;
  --gradient-bg-color-chillybreeze: #609dbf;
  --gradient-bg-color-softpink: #d8b2ad;
  --gradient-bg-color-bubble: #fd70a1;
  --gradient-bg-color-sunny: #d6af46;
  --gradient-bg-color-mango: #eb8f3b;
  --gradient-bg-color-rain: #38393c;
}