/* @import "./base.css"; */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-14 {
    margin-top: 14px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-18 {
    margin-top: 18px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-22 {
    margin-top: 22px;
}

.mt-24 {
    margin-top: 24px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.pd-10 {
    padding: 10px;
}

.no-shrink {
    /* 弹性盒子中的元素不被压缩 */
    flex-shrink: 0;
}

.no-selected {
    /* 用户不可选中 */
    user-select: none;
}

.over-hidden {
    /* 多余部分隐藏 */
    overflow: hidden;
}

.strong {
    /* 字体加粗 */
    font-weight: bold;
}